{% extends "base.html" %}
{% block content %}
<div class="home_text">

{% load poll_extras %}
<p>The time is {% current_time "%Y-%m-%d %I:%M %p" %}.</p>



{% for users in usershtml %}
    <p>{{ users.full_name }}</p>
    <p>{{ users.last_name }}</p>
    <p>{{ users.birth_date }}</p>
    <p>{{ users.biography }}</p>
    <p>{{ users.contacts }}</p>
    <p></p>
	<p></p>

</div>
{% endfor %}
<a href="settings/" class="btn small primary">View setting</a>
<a href="accounts/logout/" class="btn small primary">Выйти</a>
<a href="edit/" class="btn small primary">Edit</a>
{% endblock %}